*:focus {
    outline: none;
}

body {
    border: none;
    margin: 0;
    padding: 30px;
    background: #222c2f;
    font: normal 16px/20px Lekton, sans-serif;

    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.30);
    color: #000000;
    font-weight: 200;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    text-align: left;
    line-height: 1.4;
}

#wrapper {
    position: relative;
}

button,
.button {
    transition: all .4s;
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: #000;
    background-color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
    line-height: 30px;
    margin: 3px;
    border-radius: 10px;
}

button:hover,
.button:hover {
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

#logo {
    height: 40px;
}

#top-panel {
    position: fixed;
}

#top-panel > div {
    margin-right: 10px;
}

#top-panel button {
    font-size: 16px;
}

.darkWrapper {
    width: max-content;
    padding: 10px;
    background-color: rgba(25, 34, 37, 0.91);
    color: #fff;
    border-radius: 10px;
}

.darkWrapper > div {
    padding: 5px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.YTPOverlay.raster.retina {
    background-size: 1vh;
}